  .progress-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 400px;
    /* justify-content: center;
    align-self: center; */
    left: 50%;
    margin-left: -200px;
  }
  
  .timestamp {
    flex: 0 0 auto;
    margin-right: 10px; /* Adjust as needed */
    margin-left: 10px;
  }

  .progress-bar-container {
    flex: 1;
    height: 10px; /* Adjust as needed */
    background-color: black; /* Background color of the progress container */
    border-radius: 5px; /* Half of the height to create a rounded container */
    overflow: hidden; /* Hide overflow to prevent progress bar from overflowing */
  }
  
  .progress-bar {
    height: 100%;
    background-color: white; /* Color of the progress bar */
    border-radius: 5px; /* Same as container to make it rounded */
    width: 0; /* Initial width, will be updated by JavaScript */
    transition: width 0.3s ease; /* Smooth transition when width changes */
  }
  .play-button {
    padding: 10px;
    transition: transform .2s;
    width: 50px;
    height: 50px;
  }

  .previous-button, .next-button {
    padding: 10px;
    transition: transform .2s;
    width: 40px;
    height: 40px;
  }

  .play-button:hover, .previous-button:hover, .next-button:hover {
    transform: scale(1.2);
  }

  .search {
    width: 400px;
  }

  .searchResults {
    width: 400px;
    height: 35px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3); 
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .searchResults:hover {
    transform: scale(1.05);
    border-color:cornflowerblue;
    /* text-shadow:0px 0px 30px cornflowerblue; */
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  